*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: rgb(178, 178, 222);
    overflow-x: hidden;
}
hr{
    width: 150px;
    background-color: white;
    margin-bottom: 5px;
}
html{
    scroll-behavior: smooth;
}

/* loading start */
#loading{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: forwards 1s loading;
    animation-delay: 5s;
    z-index: 1;
}
#loading .balok{
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading i{
    font-size: 30px;
}
@keyframes loading{
    0%{
        top: 0;
    }
    100%{
        top: -100%;
    }
}
#loading .balok{
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    animation: 5s balok;
    box-shadow: 0px 0px 10px blueviolet;
    border-radius: 10px;
}
@keyframes balok{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(360deg);
    }
    40%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(360deg);
    }
    80%{
        transform: rotate(0deg);
    }
}
/* loading end */

/* navbar start */
nav{
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: black;
    bottom: -100%;
    animation: forwards 3s navbar;
    animation-delay: 4s;
}
@keyframes navbar{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0;
    }
}
nav ol{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}
nav li{
    text-align: center;
    width: 100%;
}
nav li a{
    text-decoration: none;
}
nav i{
    font-size: 25px;
}
/* navbar end */

/* home start */
#home{
    overflow: hidden;
    padding-bottom: 130px;
}
#home .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
#home .sekolah{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home .sekolah img{
    width: 250px;
    height: 250px;
    margin-left: -100%;
    animation: forwards 3s logo;
    animation-delay: 4s;
}
@keyframes logo{
    0%{
        margin-left: -200%;
        transform: rotate(60deg);
    }
    100%{
        margin-left: 0;
        transform: rotate(0deg);
    }
}
#home .sekolah h4{
    text-align: center;
    padding-bottom: 30px;
}
#home .col .image{
    position: relative;
}
#home .col img{
    height: 400px;
    width: 500px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}
#home .col .image::before{
    content: '';
    position: absolute;
    background-color: #1F1D36;
    width: 120px;
    height: 100px;
    box-shadow: 0px 0px 10px #1F1D36;
    border-radius: 10px;
    left: -20px;
    top: -20px;
    animation: infinite imageBefore 20s;
}
@keyframes imageBefore{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#home .col .image::after{
    content: '';
    position: absolute;
    background-color: #3F3351;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #3F3351;
    right: -20px;
    bottom: -20px;
    animation: infinite alternate imageAfter 20s;
}
@keyframes imageAfter{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* home end */

/* about start */
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 50px;
}
#about button{
    background-color: transparent;
    border: 3px solid white;
    margin: 5px;
    padding: 5px;
    width: 80px;
    transition: 1s;
}
#about button:hover{
    background-color: white;
    color: black;
}
#about .rpl{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    width: 40%;
    height: 80vh;
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.318), 0px 1px 0px 1px rgba(0, 0, 0, 0.319);
    margin-bottom: 20px;
    box-sizing: border-box;
}
#about .content-about{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#about .rpl img{
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
#about .rpl h3{
    margin: 10px;
}
#about .skensa{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 40%;
    height: 80vh;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.318), 0px 1px 0px 1px rgba(0, 0, 0, 0.319);
    padding: 10px;
    transition: 1s;
    box-sizing: border-box;
}
#about .skensa img{
    background-position-x: -90px;
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
#about .skensa h3{
    margin: 10px;
}
/* about end */

/* animasi start */
#animasi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#animasi #vid{
    display: flex;
}
#animasi video{
    width: 600px;
    margin: 20px;
    border: 5px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.601);
}
/* animasi end */

/* profile start */
#profile{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 69px;
}
#profile .row{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}
#profile .card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.601);
    padding: 10px;
    background-color: #746d99;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#profile .card img{
    height: 300px;
    width: 100%;
    border: 2px solid white;
}
#profile i{
    font-size: 20px;
}
/* profile end */

/* credits start */
.credits{
    width: 100%;
    background-color: black;
    text-align: center;
}
/* credits end */

@media screen and (max-width: 770px){
    #home .col img{
        height: 200px;
        width: 280px;
        box-shadow: 0px 0px 10px black;
        border-radius: 10px;
    }#home .col .image::before{
        width: 60px;
        height: 60px;
    }
    #home .col .image::after{
        width: 60px;
        height: 60px;
    }
    #about .rpl{
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: 0px;
        width: 90%;
        background-color: rgb(175, 175, 217);
        padding: 10px;
        transition: 0.5s;
        box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.318), 0px 1px 0px 1px rgba(0, 0, 0, 0.319);
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    #about .content-about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about .rpl img{
        border-radius: 10px;
        width: 100%;
        height: 300px;
    }
    #about .rpl h3{
        margin: 10px;
    }
    #about .skensa{
        display: flex;
        margin-left: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 90%;
        height: max-content;
        background-color: rgb(175, 175, 217);
        box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.318), 0px 1px 0px 1px rgba(0, 0, 0, 0.319);
        padding: 10px;
        transition: 1s;
        box-sizing: border-box;
    }
    #animasi #vid{
        flex-direction: column;
    }
    #animasi video{
        width: 300px;
        margin: 20px;
    }
    #profile .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #profile .card{
        margin-bottom: 20px;
    }
}
